@use "../../../theme/globals.scss" as *;
// to put the label in the position of the white space
.MuiInputLabel-root {
  color: #000 !important;
  right: 1.8rem !important; /* Your custom styles here */
  transform-origin: top right !important;
  font-size: 1rem;
  
}

// white space under the label
.MuiOutlinedInput-notchedOutline {
  text-align: right !important;
  border-color: #ddd !important;
  // background-color: #f9f9f9;
  color: #000 !important;
  border-radius: 20px !important;
}
.uni-select{
  // move arrow up/down to left

  .MuiSelect-icon {
    left: 7px !important;
    right: unset !important;
    // color: #fff !important;
  
    svg {
      // color: #fff !important;
    }
  }

}


.MuiInputLabel-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  // border-color: #fff !important;
}

// Change the bg color of the options box
.MuiPaper-root {
  li {
    color: #000 !important;
  }
}

.Mui-disabled {
  // -webkit-text-fill-color: #c0c2d5 !important;
}
.Mui-disabled:hover {
  cursor: not-allowed !important;
}
