@use "../../theme/globals.scss" as *;

.login {
  position: relative;
  background-image: url("../../assets/images/loginbg1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg_color_2, .9);
    // backdrop-filter: blur(10px);
    z-index: 1;
    @include tablet{
    background-color: rgba($bg_color_2, 0);

    }
  }
  
  &-box {
    position: relative;
    z-index: 2;
    background-color: #fff;
    // backdrop-filter: blur(10px);
    max-width: 35rem;
    width: 100%;
    padding: 3rem;
    text-align: center;
    // border-radius: 1rem;
    padding-top: 10rem;

    @include tablet{
      max-width: 100%;
      width: 100%;
      background-color: rgba(#fff, .95);
      padding-top: 2rem;
    }
    &-logo {
      @include flex($dir:column);
      gap: 1rem;
      padding-block: 1rem;
      font-size: .8rem;
      font-weight: 800;
      img {
      }
    }
    &-form {
      margin-top: 2rem;
      .uniInput {
        margin-bottom: 1rem;
      }
    }
  }
  &-text{
    padding-inline: .2rem;
    @include flex($dir:column);
    width: 100%;
    position: relative;
    z-index: 999;
    color: #fff;
    @include tablet{
      display: none;
    }
  }
}
