@use "./globals.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $bg_color !important;
  color: #000 !important;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  outline: none;
  font-family: inherit;
  &::placeholder {
    font-family: inherit;
  }
}
.transparent-input {
  background-color: transparent;
  color: $smallTxt_color;
  border: unset;
  &::placeholder {
    color: inherit;
  }
}
.container {
  width: min(1200px, 100%);
  padding-inline: 15px;
  margin: auto;
}

// Small Text
.smallTxt {
  font-size: 1rem;
  color: $smallTxt_color;
}
// Gradient Text
.grad-text {
  width: fit-content;
  background-image: linear-gradient(248deg, $gradient_1, $gradient_2);
  -webkit-background-clip: text;
  color: transparent;
}

.flex-center {
  @include flex();
}

/* SWAL */
//.swal2-icon-warning.swal2-show
.swal2-popup.swal2-modal {
  background-color: #0b0b10;
  border-right: 8px solid #462589;
}
button.swal2-confirm.swal2-styled.swal2-default-outline {
  background-color: #2e7130 !important;
  border: none !important;
  color: #000 !important;
  outline: none !important;
}
h2#swal2-title {
  color: #000 !important;
}


// TAble cell
.table-cell-ellipsis {
  max-width: 100px; /* Adjust the value to your desired maximum width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
